{% extends 'base.html' %}
{% block menu %}
    {% load mptt_tags %}
    <div class="col-2 bg-light h-100 text-center" id="menu-all-tp">
        <ul class="tree" id="tree">
            {% recursetree menu %}
                <li class="">
                    {{ node.name }}
                    {% if not node.is_leaf_node %}
                        <ul hidden>
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>

{% endblock %}
{% block content %}
    <div class="col item">
        <div class="col-2">
            <form action="">
                <label for="">Новое ТП</label>
                <div class="form-group mb-0">
                    <input type="" class="form-control" id="name" aria-describedby="name"
                           placeholder="Название ТП">
                    <small id="" class="form-text text-muted">Пример: ТП-001</small>
                </div>
                <div class="form-group mb-0">
                    <input type="" class="form-control" id="ip" aria-describedby="ip"
                           placeholder="Ip">
                    <small id="" class="form-text text-muted">Пример: 192.168.143.12</small>
                </div>
                <div class="form-group mb-0">
                    <input type="" class="form-control" id="port" aria-describedby="port"
                           placeholder="Порт">
                    <small id="" class="form-text text-muted">Пример: 35001</small>
                </div>
                <div class="form-group">
                    <label for="">Кол-во Т</label>
                    <input class="form-control" type="number" min="0" id="count_device" value="0">
                </div>

                <button type="button" class="btn btn-primary" onclick="add_t()" data-toggle="modal"
                        >Добавить
                </button>
                {#                <button type="submit" class="btn btn-primary">Сохранить</button>#}
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary"  onclick="">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'res/js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'res/js/addTP.js' %}"></script>

{% endblock %}