{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}


{% block menu %}
    {% load mptt_tags %}
    <div class="col-2 bg-light h-100 text-center" id="menu-all-tp">
        <ul class="tree" id="tree" >
            {% recursetree menu%}
                <li class="">
                    {{ node.name }}
                    {% if not node.is_leaf_node %}
                        <ul hidden>
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>

{% endblock %}

{% block content %}
    <div class="col-6">
        {% for value in values %}
            <span>
                {{ value }}
            </span>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
{% load static %}
<script type="text/javascript" src="{% static 'res/js/menu.js' %}"></script>
{% endblock %}
