.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/*Menu ТП*/
.tree, .tree ul {
    list-style-type: none;
}

.tree span:hover {
    font-weight: bold;
 }

 .tree span {
    cursor: pointer;
  }

.hide {

}

.tree .hide::before {
    content: "+";
}
.tree .show::before {
    content: "-";
}

/* AddTcp.html отображение search */

.search_select button:hover {
    background-color: darkgrey;
    color: black !important;
}

.search_select button {
    background-color: #dae0e6;
    color: black !important;

}

.btn-outline-danger {
    border-color: #343a40;
    color: #343a40;
}
.btn-outline-danger:hover {
    background: #606d79;
    border-color: white;
    color: white;
}
.add-substation {
    background-color: #dae0e6 !important ;
}
.btn.add-substation:active {
    background-color: #dae0e6 !important;
    border-color: #dae0e6 !important;
    color: #dae0e6 !important;

}