<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/bootstrap5.min.css' %}">

</head>
<body>
<div class="container d-flex  justify-content-center align-items-center flex-column">
    <div class="row text-center w-25 ">

        <form action="{% url 'autorization' %}" class="h-100" method="post">
            <div class=" d-flex  justify-content-center align-items-center flex-column h-100">
                <div class="d-flex justify-content-center flex-column align-items-center xs-10 mt-auto">
                    {% csrf_token %}

                    <input type="text" class="form-control form-control-lg mt-2 " placeholder="имя" name="name"
                           id="name">
                    <input type="password" class="mt-2 form-control form-control-lg " placeholder="пароль"
                           name="password"
                           id="password">
                    <button type="submit" class="mt-2 btn btn-primary btn-lg">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{#<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>#}
{#<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'login/js/bootstrap.bundle.min.js' %}}"></script>


</body>
</html>