<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>
    {% load static %}

    <link href="{% static 'res/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar-header  bg-dark navbar-light bg-light ">
    <div class="navbar navbar-expand-md navbar-dark bg-dark " id="navbarSupportedContent">
        <!--        <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="tcp"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меркурий TCP/IP
                    </a>
                    <div class="dropdown-menu" aria-labelledby="tcp">
                        <a class="dropdown-item" href="{% url 'menu' %}">Просмотр всех ТП</a>
                        <a class="dropdown-item" href="#">Добавить ТП</a>
                        <a class="dropdown-item" href="#">удалить ТП</a>
                    </div>
                </div>

            </li>
            <li class="nav-item dropdown">
                <div class="dropdown show ml-2 mr-2">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="gsm"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меркурий GSM
                    </a>

                    <div class="dropdown-menu" aria-labelledby="gsm">
                        <a class="dropdown-item" href="#">Просмотр всех ТП</a>
                        <a class="dropdown-item" href="#">Добавить ТП</a>
                        <a class="dropdown-item" href="#">удалить ТП</a>
                    </div>
                </div>

            </li>
            <li class="nav-item dropdown">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="getValue"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Опрос
                    </a>

                    <div class="dropdown-menu" aria-labelledby="getValue">
                        <a class="dropdown-item" href="#">Опрос в данный момент отдельного счетчика</a>
                        <a class="dropdown-item" href="#">Опрос ТП</a>
                        <a class="dropdown-item" href="#">Опрос всех ТП</a>
                    </div>
                </div>
            </li>
        </ul>

        <a class="btn btn-outline-success my-2 my-sm-0" href="http://127.0.0.1:8000/login/logout">Выйти</a>

    </div>

</nav>
{% block menu %}

{% endblock %}

{#<div class="container" >#}
{#    {% block menu %}#}
{##}
{#    {% endblock %}#}
{#    {% block content %}#}
{##}
{#    {% endblock %}#}
{##}
{##}
{#</div>#}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>
