<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>
    {% load static %}

    <link href="{% static 'res/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'res/css/bootstrap.min.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
<nav class="navbar-header  bg-dark navbar-light bg-light ">
    <div class="navbar navbar-expand-md navbar-dark bg-dark " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="tcp"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меркурий TCP/IP
                    </a>
                    <div class="dropdown-menu" aria-labelledby="tcp">
                        <a class="dropdown-item" href="{% url 'menu' %}">Просмотр всех ТП</a>
                        <a class="dropdown-item" href="{% url 'add_tcp' %}">Редактировать ТП</a>
                        <a class="dropdown-item" href="{% url 'mercury' %}">Опрос</a>
<!--                        <a class="dropdown-item" href=" http://127.0.0.1:8000/mercury/TcpIp/{{id_first_substation|default:''}}/">Опрос</a>-->
                    </div>
                </div>

            </li>
            <li class="nav-item dropdown">
                <div class="dropdown show ml-2 mr-2">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="gsm"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меркурий GSM
                    </a>

                    <div class="dropdown-menu" aria-labelledby="gsm">
                        <a class="dropdown-item" href="#">Просмотр всех ТП</a>
                        <a class="dropdown-item" href="#">Добавить ТП</a>
                        <a class="dropdown-item" href="#">удалить ТП</a>
                    </div>
                </div>

            </li>

            <li class="nav-item">
                <a class="btn btn-secondary " href="/res/">{{ user.groups.all.0 }}</a>
            </li>
        </ul>

        <a class="btn btn-outline-success my-2 my-sm-0" href="/login/logout">Выйти</a>

    </div>

</nav>
<div class="row m-0">
    {% block menu %}
    {% endblock %}
    {% block content %}
        <div class="w-100 h-100 text-center">
            <h1>{{ name_res }}</h1>
        </div>
    {% endblock %}
</div>

</body>
{% load static %}

<script type="text/javascript" src="{% static 'res/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'res/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'res/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</html>
