{% extends 'tcp/tcp.html' %}

{% block menu %}
{% endblock %}


{% block button_active%}
<a type="button" class="btn add-substation" href="/res/menu/"
       data-target="">
        Просмотр показаний
    </a>
{% endblock %}

{% block show_podstation %}
{% endblock %}
{% block script %}
{% load static %}
<script type="text/javascript" src="{% static 'res/js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'res/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.search_select select').selectpicker();
    })

    $(document).ready(function () {
        var timesSelectClicked = 0;
        $('.select_substation').click(function (e) {
            if (timesSelectClicked == 0) {
                timesSelectClicked += 1;
            } else if (timesSelectClicked == 1) {
                // alert($('.select_podstation option:selected').val());
                timesSelectClicked = 1;
                window.location.href = '/mercury/TcpIp/' + $('.select_substation option:selected').val() + '/';
            }
        });
    });

</script>
{% endblock %}